.box2{
    text-align: center;
    display: flex;
     flex-direction: column;
     padding: 50px 200px;
     
 
 }
 
 .box2 input{
     border-radius: 10px;
     height: 40px;
     padding: 5px 80px;
     margin-top: 30px;
 
 }
 
 .submit{
     border-radius: 10px;
     height: 30px;
     margin-top: 30px;
     width: 100px;
   background-color: rgb(53, 132, 206);
   color: rgb(255, 255, 255);
     
 }